<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Good Site</title>
</head>
<body>
<h1>Welcome to Good Site Bank</h1>
<h2>Account Options</h2>
<ul sec:authorize="isAuthenticated()">
    <li><a th:href="@{/account}">View Your Account</a></li>
    <li><a th:href="@{/account/transfer}">Transfer Money</a></li>
    <li><a th:href="@{/logout}">Log Out</a></li>
</ul>
<ul sec:authorize="!isAuthenticated()">
    <li><a th:href="@{/login}">Log In</a></li>
</ul>
<h2>Valued Customers</h2>
<table>
    <tr>
        <th>Account</th>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.id}">123456</td>
        <td th:text="${account.username}">user</td>
        <td th:text="${account.balance}">$1000</td>
    </tr>
</table>

</body>
</html>